[tool.poetry]
name = "xiaomi-firmware-updater"
version = "6.0.0"
description = ""
authors = ["yshalsager <ysh-alsager@hotmail.com>"]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.26.0"
PyYAML = "^5.4.1"
"github3.py" = "^1.3.0"
python-telegram-bot = "13.7"
xiaomi_flashable_firmware_creator = "^2.2.3"
humanize = "^3.12.0"

[tool.poetry.dev-dependencies]


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
